.App {
  text-align: center;
}
/* Aggiungi questi stili nel tuo file CSS o in un file .css separato */
.movie-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-card {
  text-align: center;
  margin: 10px;
}

.movie-poster {
  width: 100px; /* Imposta una larghezza massima per i poster */
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
